.calendar-container {
    width: calc(100% - 1em);
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0.5em;
}

.calendar-main {
    position: relative;
    color: #fff;
    padding: 1em;
    font-weight: 300;
}

.calendar-name {
    font-weight: 400;
}

.calendar-checkbox-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 0.6em;
}

.calendar-checkboxes, .calendar-months {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    row-gap: 0.3em;
    column-gap: 0.3em;
    width: fit-content;
    margin-top: 0.4em;

    &.collapsed {
        grid-template-rows: initial;
    }
}

.calendar-months {
    grid-template-rows: repeat(1, 1fr);
    padding-right: 0.8em;
}

.calendar-scroll-wrapper {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    padding-bottom: 0.3em;
}

.calendar-scroll-wrapper::-webkit-scrollbar {
    height: 0.3em;
}

.calendar-month {
    width: 1em;
    height: 1em;
}

.calendar-day {
    background-color: $unchecked-color;
    border-radius: 0.1em;
    width: 1em;
    height: 1em;

    &.checked {
        background-color: $checked-color;
        
        &:hover {
            background-color: darken($checked-color, 10%);
        }
    }

    &:hover {
        background-color: darken($unchecked-color, 10%);
    }
}

.streak {
    margin-left: 2em;
    color: rgb(255, 102, 0);
    font-weight: 700;
}