.center-v  {
    top: 50%;
    transform: translate(0, -50%);
}

.center-h  {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center-vh {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
