.center-v  {
    top: 50%;
    transform: translate(0, -50%);
}

.center-h  {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.center-vh {
    display: grid;
    place-items: center;
}
